body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

body h1 {
    margin: 0;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0 black;
    font-size: 2.5em;
}
#list {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}
.item {
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    margin-bottom: 20px;
}
.item img {
    width: 25%;
    flex-shrink: 0;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;

}
.about .description {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    width: fit-content;
}

a, p {
    font-weight: bold;
    font-size: 1.1em;
}
a {
    color: #5e76ff;
    text-shadow: 0 0 5px rgb(0, 3, 43);
}
#santaboyne {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .item {
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
    }
    .item img {
        width: 50%;
    }
}